// Place all the styles related to the Pokemons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pokemon-list {
    width: calc(100% - 20px);
    color: black;
    background-color: #dadada;
    margin: auto;
    font-size: 100%;
    
    tbody tr:hover td {
        background-color: #7391af;
    }
    
    th {
        background-color: #252525;
        color: white;
    }
    
    td, th {
        text-align: center;
        padding: 0.375em 0.5em;
        vertical-align: middle;
    }
    
    td {
        border-bottom: 1px solid #8f8173;
    }

    
    .nature {
        &-positive {
            color: red;
        }
        
        &-negative {
            color: blue;
        }
    }
}

.ability-hidden {
    font-weight: bold;
}

.pokemon-editable {
    background-color: transparent;
    border: none;
    text-align: center;
}

.pokemon-editable-iv {
    width: 2em;
}

option {
    color: black;
}

[title] {
    cursor: help;
}