<!DOCTYPE html>

<html>
<head>
    <% javascript_include_tag "pokesprite.js" %>
    <% stylesheet_link_tag "pokesprite.scss" %>
    <% stylesheet_link_tag "types.scss" %>
</head>

<body>
    
    <%= render "info" %>
    
    <%= render "actions" %>
    <%= render "pokemons/pokemon_list" %>
    
    <%= render "pokemons/new" %>
    
    <%# button_tag "+ Add a pokemon", id: "new-pokemon-btn", class: ["btn btn-success"], onclick: "addPokemon();" %>
</body> 

<script>
    PkSpr.process_dom();
    $("[data-toggle='tooltip']").tooltip();
</script>
</html>
