<!DOCTYPE html>

<html>
<head>
    <% javascript_include_tag "pokesprite.js" %>
    <% stylesheet_link_tag "pokesprite.scss" %>
    <% stylesheet_link_tag "types.scss" %>
</head>

<body>
    <div class="well well-lg col-lg-10 col-lg-offset-1">
        <%= "#{@user.username}'s Pokemon" %>    
    </div>
    <%= render "pokemons/pokemon_list" %>
</body> 

<script>
    PkSpr.process_dom();
    $("[data-toggle='tooltip']").tooltip();
</script>
</html>
