<!DOCTYPE html>

<html>
<head>
    <% favicon_link_tag "pokeball.ico" %>
    <% content_tag :title, "Poke-Plaza" %>
    <link rel="stylesheet" href="http://static.tumblr.com/28amrxm/I8Soj63cz/bootstrap.min.css">
    <link rel="stylesheet" href="http://static.tumblr.com/28amrxm/S5yojurg0/style.css">
    <% javascript_include_tag "pokesprite.js" %>
    <% stylesheet_link_tag "pokesprite.scss" %>
    <% stylesheet_link_tag "types.scss" %>
    <style>
        h1 { color:{color:Header} }
        h1 a { color:{color:Header Link} }
        h1 a:hover, h1 a:focus { color:{color:Header Link Hover} }
        nav ul li a { background-color:{color:Button};color:{color:Button Text} }
        nav ul li.current::after { border-top-color:{color:Button} }
        table { background-image:url(http://static.tumblr.com/28amrxm/gy9oj63g2/bg-td.gif) }
        table thead tr { background-image:url(http://static.tumblr.com/28amrxm/Ciloj63g4/bg-th.gif) }
    </style>
</head>

<body> 
    <%= render "pokemon_list" %>
</body> 

<script>
    PkSpr.process_dom();
</script>
</html>
