<!DOCTYPE html>

<html>
<head>
    <% javascript_include_tag "pokesprite.js" %>
    <% stylesheet_link_tag "pokesprite.scss" %>
    <% stylesheet_link_tag "types.scss" %>
</head>

<body> 
    <%= render "pokemon_list", :columns => @columns %>
</body>
</html>
